.small-text {
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

ion-icon {
    font-size: 64px;
    padding-top: 1.5rem;
  }

  form{
      padding-top: 1rem;
  }